<h1 mat-dialog-title>Arrastra los archivos a subir
    <div *ngIf="uploader.queue.length > 0" class="progress mb-2">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
</h1>
<div mat-dialog-content>
    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
        [uploader]="uploader" class="well my-drop-zone">
        <span class="m-auto">Subir Archivos</span>
    </div>
    <div *ngIf="uploader.queue.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Progress</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td style="vertical-align: center !important;"><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs ml-2 mr-2" (click)="item.upload()"
                            [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs ml-2 mr-2" (click)="item.cancel()"
                            [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs ml-2 mr-2" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div mat-dialog-actions>
    <input #files type="file" hidden ng2FileSelect [uploader]="uploader" multiple />
    <div class="spacer"></div>
    <button mat-button color="accent" (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Upload all
    </button>
    <button mat-button color="primary" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
    </button>
    <button mat-button color="warn" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Remove all
    </button>
    <button mat-button (click)="files.click()">Seleccionar Archivos</button>
    <button mat-button (click)="onNoClick()">Cancelar</button>
</div>